%form{:action => to('/pastes'), :method => :post}

  #sidebar
    %h3.title Options
    %table#options
      %tbody
        %tr
          %td Language:
          %td
            %select{:name => "paste[language]"}
              - @languages.each do |k, v|
                %option{:value => k}= v
        %tr
          %td Title:
          %td
            %input{:type => "text", :name => "paste[title]", :maxlength => 32}
    .submit
      %span
        %img.icon{:src => url('/icons/lock.png')}
        %input{:type => "checkbox", :name => "paste[private]", :value => "true"}
      %input#stupidbutan{:type => "submit",   :value => "Paste"}

  #editor
    %h3.title Create new paste
    %textarea{:name => "paste[body]"}
