%h1 pastest

%h2 Recent pastes
%ul
  - @recent.each do |p|
    %li
      %a{:href => "./%s" % p.id}= p.id

%h2 Create new paste

%form{:action => "", :method => "post"}
  %textarea{:name => "paste[body]"}
  %input{:type => "checkbox", :name => "paste[private]", :value => "true"}
  %input{:type => "submit", :value => "Paste"}
