!!!
%title= @title

%link{:rel => 'stylesheet', :href => versioned_sass('stylesheet')}

%script{:src => versioned_js('highlight.pack')}
:javascript
  hljs.initHighlightingOnLoad();

%h1 pastest

#content
  != yield
