!!!
%title= @title

%link{:rel => 'stylesheet', :href => versioned_sass('stylesheet')}
%link{:rel => 'stylesheet', :href => versioned_css('highlight/github')}

%script{:src => versioned_js('highlight.pack')}
:javascript
  hljs.initHighlightingOnLoad();

%a{:href => to('/')}
  %strong home
%br
%a{:href => to('/pastes')}
  %strong recent

#content
  != yield
