!!!
%title= @title

%link{:rel => 'stylesheet', :href => url('highlight/styles/default.css')}

%script{:src => url('/highlight/highlight.pack.js')}
:javascript
  hljs.initHighlightingOnLoad();

#content
  != yield
